.peepSelect {
  height: 12px;
  display: block;
  background: rgb(19, 163, 94);
  margin: 0px;
  padding: 2px 0px 2px 5px;
  float: none;
  border: 0px;
  outline: 0px;
  font-style: normal;
  vertical-align: baseline;
  text-align: left;
  line-height: 12px;
  box-sizing: content-box;
  min-height: auto;
  min-width: auto;
  width: 887px;
  border-radius: 0px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  top: 454px;
  left: 43px;
}
